.card-container {
  background-color: #0b1b2b;
  height: fit-content;
  padding: 2rem;
  box-shadow: 0 2px 28px rgb(0 0 0 / 20%);
  border-radius: 10px;
  width: fit-content;
  position: relative;
  z-index: 10;
}
