.container {
  position: relative;
  padding: 4rem 0 8rem;
  background: url("../../assets/header-background-efect-left.svg") left top 50px
      no-repeat,
    url("../../assets/header-background-efect-right.svg") right top 20px
      no-repeat;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      var(--base-profile),
      var(--base-background-100)
    );
    top: 0;
    z-index: -1;
  }

  .logo {
    display: flex;
    margin: 0 auto;
  }

  .background-images {
    img {
      position: absolute;

      &:first-child {
        align-self: flex-start;
        top: 50px;
      }

      &:last-child {
        top: 20px;
        right: 0;
      }
    }
  }
}
