.profile-resume-container {
  max-width: 865px;
  display: flex;
  align-items: center;
  gap: 2rem;

  img {
    border-radius: 8px;
  }

  .profile-resume-content {
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.25rem;

      div {
        align-self: flex-start;
        display: flex;
        align-items: center;

        a {
          color: var(--blue);
          font-size: 0.75rem;
          font-weight: 700;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      h1 {
        color: var(--base-title);
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 130%;
      }
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: var(--base-text);
    max-width: 612px;
    margin-bottom: 1.5rem;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        color: var(--base-subtitle);
        font-size: 1rem;
      }
    }
  }
}
